@import '../../../variables.scss';

.shop-article {
  min-width: 135px;
  
  & * {
    pointer-events: none;
  }
  
  & img {
    image-rendering: pixelated;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  
  & .shop-promo {
    top: -10%;
    right: -30%;
  }
}