#sideBarNav {
  position: fixed;
  right: 0;
  height: 100vh;
  min-width: 75px;
  text-overflow: none;
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  
  .sidebaroption{
    overflow-wrap: anywhere;
    font-size: 0.75em;
    min-width: 100%;
    
    svg {
      margin-right: calc((75px - 30px) / 2);
    } 
  }
}
