@import '../variables.scss';

.shop-container {
  overflow-y: auto;
}

.shop-article {
  min-width: 135px;
  
  & * {
    pointer-events: none;
  }
  
  & .shop-promo {
    top: -10%;
    right: -30%;
  }
}

