@import '../variables.scss';

.shop-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  flex: 1 1;
  
  & .shop-categories {
    flex: 1 1 auto;
    overflow-y: auto;
    
    & .footer {}
  }
}

.shop-article {
  min-width: 130px;
  
  & * {
    pointer-events: none;
  }
  
  & .shop-promo {
    top: -10%;
    right: -30%;
  }
}

