@import '../variables.scss';

.shop-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  flex: 1 1;
  
  & .shop-categories {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.shop-article {
  position: relative;
  min-width: 126px;
  
  & .hasBoughtArticle {
    & h4 {
      transform: rotate(-45deg);
    }
  }
  
  & * {
    pointer-events: none;
  }
  
  & .shop-promo {
    top: -10%;
    right: -30%;
  }
}

