.secondnavbar-chat {
  .chat-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    
    $height-calc: calc(100vh - 15.5rem);
    min-height: $height-calc;
    height: calc(100vh - 12rem);
    max-height: calc(100vh - 12rem);
    
    :first-child {
      margin-top: auto;
    }
  }
  
  .chat-input-content {
    flex-shrink: 0;
    height: auto;
  }
  
  @media screen and (min-width: 992px) {
    max-width: 400px;
    width: 400px;
  }
  
  .chat-message-container {
    &.message-sender {
      .chat-message {
        margin-left: auto;
      }
      .dropdown {
        text-align: end;
      }
    }
    
    .chat-message {
      max-width: 65%;
      width: fit-content;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 10px;
      white-space: pre-wrap;
      word-break: break-word;
    }
    
    .chat-username {
      position: relative;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      &::before {
        content: '';
        position: absolute;
        height: 2px;
        border-radius: 5px;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: all 0.25s;
      }
      &:hover::before {
        width: 90%;
        left: 5%;
      }
      &::after {
        content: none;
      }
    }
  }
}

.chat-input {
  textarea {
    transform-origin: bottom;
    resize: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 2.6em;
    height: 2.6em;
    max-height: 5.5rem
  }
  
  .emojiPicker {
    margin-top: 0.20em;
    transition: margin-top 0.15s;
    transition-timing-function: cubic-bezier(.65,.75,.50,1.65);
    & span {
      filter: grayscale(1);
      font-size: 1.5em !important;
      transition: all 0.15s;
      transition-timing-function: cubic-bezier(.65,.75,.50,1.65);
    }
    &:hover {
      margin-top: 0.09em;
      & span {
        filter: grayscale(0);
        font-size: 1.75em !important;
        margin-right: -0.1em;
      }
    }
  }
}