.secondnavbar-chat {
  .chat-content {
    overflow-y: auto;
    min-height: calc(100vh - 18rem);
    max-height: calc(100vh - 18rem);
  }
  
  @media screen and (min-width: 992px) {
    max-width: 400px;
    width: 400px;
    .chat-content {
      min-height: calc(100vh - 16rem);
      max-height: calc(100vh - 16rem);
    }
  }
  
  .chat-message {
    max-width: 55%;
    width: fit-content;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    word-break: break-all;
    color: #f8f9fa;
    
    &.message-sender {
      align-self: end;
      background-color: #0d6efd !important;
      text-align: end;
    }
    
    &.message-receiver {
      background-color: #6c757d !important;
    }
  }
}

.chat-input {
  textarea {
    resize: none;
    height: 5.5rem;
  }
}
