.secondnavbar-chat {
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    
    $height-calc: calc(100vh - 15.5rem);
    min-height: $height-calc;
    height: $height-calc;
    max-height: $height-calc;
    
    :first-child {
      margin-top: auto;
    }
  }
  
  @media screen and (min-width: 992px) {
    max-width: 400px;
    width: 400px;
  }
  
  .chat-message-container {
    &.message-sender {
      .chat-message {
        margin-left: auto;
        background-color: #0d6efd !important;
        text-align: end;
      }
    }
    
    &.message-receiver {
      .chat-message {
        background-color: #6c757d !important;
      }
    }
    
    .chat-message {
      max-width: 65%;
      width: fit-content;
      padding: 10px 20px;
      margin: 5px;
      border-radius: 10px;
      word-break: break-all;
      color: #f8f9fa;
      
    }
  }
  
}

.chat-input {
  textarea {
    resize: none;
    height: 5.5rem;
  }
}
