@font-face {
  font-family: RetroGaming;
  src: url('../public/assets/fonts/retro-gaming/Retro\ Gaming.ttf') format('truetype');
  font-size: xx-large;
}

body {
  font-family: RetroGaming, Arial, sans-serif !important;
  font-size: xx-large;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  
  main {
    flex-grow: 1;
    & > .container, .container-fluid {
      min-height: 100%;
    }
  }
}

.bg- {
  &transparent {
    background-color: transparent;
  } 
  @media screen and (min-width: 992px) {
    &lg-light {
      background-color: #f8f9fa !important;
    }
    &lg-dark {
      background-color: #212529 !important;
    }
  }
}

.bg-hover-light:hover {
  background-color: rgba($color: #f8f9fa, $alpha: 0.1);
}

.bg-hover-dark:hover {
  background-color: rgba($color: #212529, $alpha: 0.1);
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-light {
  -webkit-box-shadow: 0px 0px 2px 0px #e9ecef80;
  -moz-box-shadow: 0px 0px 2px 0px #e9ecef80;
  box-shadow: 0px 0px 2px 0px #e9ecef80;
}
.shadow-dark {
  -webkit-box-shadow: 0px 0px 2px 0px #343a4080;
  -moz-box-shadow: 0px 0px 2px 0px #343a4080;
  box-shadow: 0px 0px 2px 0px #343a4080;
}

.modal-light {
  .modal-content {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .nav-item {
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #f8f9fa;
    
    button {
      color: #212529 !important;
    }
  }
  
  .modal-body .nav-fill {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1rem;
      left: -1rem;
      bottom: -1px;
      border-bottom: 1px solid #dee2e6;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      right: -1rem;
      bottom: -1px;
      border-bottom: 1px solid #dee2e6;
    }
  }
  
  .nav-link.active {
    background-color: #f8f9fa !important;
    color: #212529 !important;
  }
}

.modal-dark {
  .modal-content {
    background-color: #212529;
    color: #f8f9fa;
  }
  
  .nav-item {
    --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #212529;
    
    button {
      color: #f8f9fa !important;
    }
  }
  
  .modal-body .nav-fill {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1rem;
      left: -1rem;
      bottom: -1px;
      border-bottom: 1px solid #dee2e6;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      right: -1rem;
      bottom: -1px;
      border-bottom: 1px solid #dee2e6;
    }
  }
  
  .nav-link.active {
    background-color: #212529 !important;
    color: #f8f9fa !important;
  }
}

.custom-scrollbar {
  &-light {
    &::-webkit-scrollbar {
      width: 7px;
    }
    
    &::-webkit-scrollbar-track {
      margin: 5px 0;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      background-color: #dee2e6;
    }
  }
  &-dark {
    &::-webkit-scrollbar {
      width: 7px;
    }
    
    &::-webkit-scrollbar-track {
      margin: 5px 0;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      background-color: #495057;
    }
  }
}

.chat {
  &-light {
    &.message-receiver .chat-message {
      background-color: #cdd4da;
      color: #212529;
      .chat-username {
        color: #495057;
        &::before {
          background-color: #495057;
        }
      }
    }
    
    &.message-sender .chat-message {
      background-color: #0d9efd;
      color: #f8f9fa;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
  }
  
  &-dark {
    &.message-receiver .chat-message {
      background-color: #343a40;
      color: #ced4da;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
    
    &.message-sender .chat-message {
      background-color: #0b76bd;
      color: #ced4da;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
  }
}

@import '~bootstrap/scss/bootstrap';