@use 'sass:color';
@import 'variables.scss';

@font-face {
  font-family: RetroGaming;
  src: url('../public/assets/fonts/retro-gaming/Retro\ Gaming.ttf') format('truetype');
  font-size: xx-large;
}

body {
  font-family: RetroGaming, Arial, sans-serif !important;
  font-size: xx-large;
  overflow: hidden;
}

#mainDiv {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  flex: 1 1;
  overflow-y: hidden;
  
  main {
    flex-grow: 1;
  }
}

.pixelated-image {
  image-rendering: pixelated;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.bg- {
  &light {
    transition: all 0.1s ease-in-out;
    background-color: $light;
  }
  
  &dark {
    transition: all 0.1s ease-in-out;
    background-color: $dark;
  }
  
  &invisible {
    background-color: transparent;
  } 
  @media screen and (min-width: 992px) {
    &lg- {
      &light {
        transition: all 0.1s ease-in-out;
        background-color: $light !important;
        
        &-lighter {
          transition: all 0.1s ease-in-out;
          background-color: $lightLighter !important;
        }
        
        &-darker {
          transition: all 0.1s ease-in-out;
          background-color: $lightDarker !important;
        }
      }
    }
    &lg- {
      &dark {
        transition: all 0.1s ease-in-out;
        background-color: $dark !important;
        
        &-lighter {
          transition: all 0.1s ease-in-out;
          background-color: $darkLighter !important;
        }
        
        &-darker {
          transition: all 0.1s ease-in-out;
          background-color: $darkDarker !important;
        }
      }
    }
  }
  
  &lighter- {
    &light {
      transition: all 0.1s ease-in-out;
      background-color: $lightLighter !important;
    }
    
    &dark {
      transition: all 0.1s ease-in-out;
      background-color: $darkLighter !important;
    }
  }
  //TODO Colors for darker version
  &darker- {
    &light {
      transition: all 0.1s ease-in-out;
      background-color: $lightDarker !important;
    }
    
    &dark {
      transition: all 0.1s ease-in-out;
      background-color: $darkDarker !important;
    }
  }
}

.bg-hover-light:hover {
  background-color: rgba($color: $light, $alpha: 0.1) !important;
}

.bg-hover-dark:hover {
  background-color: rgba($color: $dark, $alpha: 0.1) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.shadow-light {
  -webkit-box-shadow: 0px 0px 2px 0px rgba($color: $lightLighter, $alpha: 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba($color: $lightLighter, $alpha: 0.5);
  box-shadow: 0px 0px 2px 0px rgba($color: $lightLighter, $alpha: 0.5);
}
.shadow-dark {
  -webkit-box-shadow: 0px 0px 2px 0px rgba($color: $darkLighter, $alpha: 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba($color: $darkLighter, $alpha: 0.5);
  box-shadow: 0px 0px 2px 0px rgba($color: $darkLighter, $alpha: 0.5);
}

.modal-light {
  .modal-content {
    background-color: $light;
    color: $dark;
  }
  .nav-tabs {
    --bs-nav-tabs-border-color: #262626;
    --bs-nav-tabs-link-hover-border-color: #262626;
    --bs-nav-tabs-link-active-border-color: #262626 #262626 #f0f0f0;
    
    .nav-item button {
      color: $dark !important;
    }
  }
  
  .modal-body .nav-fill {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1rem;
      left: -1rem;
      bottom: -1px;
      border-bottom: 1px solid $dark;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      right: -1rem;
      bottom: -1px;
      border-bottom: 1px solid $dark;
    }
  }
  
  .nav-link.active {
    background-color: $light !important;
    color: $dark !important;
  }
}

.modal-dark {
  .modal-content {
    background-color: $dark;
    color: $light;
  }
  
  .nav-item {
    --bs-nav-tabs-link-hover-border-color: #f0f0f0;
    --bs-nav-tabs-link-active-border-color: #f0f0f0 #f0f0f0 #262626;
    
    button {
      color: $light !important;
    }
  }
  
  .modal-body .nav-fill {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1rem;
      left: -1rem;
      bottom: -1px;
      border-bottom: 1px solid $lightDarker;
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      right: -1rem;
      bottom: -1px;
      border-bottom: 1px solid $lightDarker;
    }
  }
  
  .nav-link.active {
    background-color: $dark !important;
    color: $light !important;
  }
}

.custom-scrollbar {
  &-light {
    &::-webkit-scrollbar {
      width: 7px;
      z-index: 1021;
    }
    
    &::-webkit-scrollbar-track {
      margin: 0px 0;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      background-color: $light;
    }
    
    &-lighter {
      &::-webkit-scrollbar {
        width: 7px;
        z-index: 1021;
      }
      
      &::-webkit-scrollbar-track {
        margin: 0px 0;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $lightLighter;
      }
    }
    
    &-darker {
      &::-webkit-scrollbar {
        width: 7px;
        z-index: 1021;
      }
      
      &::-webkit-scrollbar-track {
        margin: 0px 0;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $lightDarker;
      }
    }
  }
  
  &-dark {
    &::-webkit-scrollbar {
      width: 7px;
      z-index: 1021;
    }
    
    &::-webkit-scrollbar-track {
      margin: 0px 0;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 4px !important;
      background-color: $dark;
    }
    
    &-lighter {
      &::-webkit-scrollbar {
        width: 7px;
        z-index: 1021;
      }
      
      &::-webkit-scrollbar-track {
        margin: 0px 0;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 4px !important;
        background-color: $darkLighter;
      }
    }
    
    &-darker {
      &::-webkit-scrollbar {
        width: 7px;
        z-index: 1021;
      }
      
      &::-webkit-scrollbar-track {
        margin: 0px 0;
      }
      
      &::-webkit-scrollbar-thumb {
        border-radius: 4px !important;
        background-color: $darkDarker;
      }
    }
  }
}

.mask- {
  &light {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $light, $alpha: 0.75);
    width: 100%;
    height: 100%;
  }
  
  &dark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $dark, $alpha: 0.75);
    width: 100%;
    height: 100%;
  }
}

.chat {
  &-light {
    &.message-receiver .chat-message {
      background-color: #cdd4da;
      color: $dark;
      .chat-username {
        color: #495057;
        &::before {
          background-color: #495057;
        }
      }
    }
    
    &.message-sender .chat-message {
      background-color: #0d9efd;
      color: $light;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
  }
  
  &-dark {
    &.message-receiver .chat-message {
      background-color: #343a40;
      color: #ced4da;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
    
    &.message-sender .chat-message {
      background-color: #0b76bd;
      color: #ced4da;
      .chat-username {
        color: #dee2e6;
        &::before {
          background-color: #dee2e6;
        }
      }
    }
  }
}

$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';