$light: #f0f0f0;
$lightLighter: lighten($light, 10%); // FFFFFF
$lightDarker: darken($light, 3%); // E8E8E8

$dark: #262626;
$darkLighter: lighten($dark, 10%); // 404040
$darkDarker: darken($dark, 3%); // 1E1E1E